@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  line-height: 1.6;
  color: #777;
  /* background-image: linear-gradient(
    to right bottom, #FF3366,#BA265D
  ); */
  background: linear-gradient(45deg, #d4a373 0%, #faedcd 48%, #fefae0 100%);
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #faf9f9;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem;
}
.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: #f4f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content {
  display: flex;
}
.sidebar {
  background-color: #d4a373;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shop-view {
  background-color: #fff;
  flex: 1;
}

.logo {
  height: 5rem;
  margin-left: 2rem;
}
.header-title {
  margin-right: 2rem;
  color: #bc6c25;
  font-size: 3rem;
  font-weight: 700;
}

/* Side Navidation */
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 2rem;
}
.side-nav__item {
  position: relative;
}
.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #faedcd;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
    background-color 0.1s;
}
.side-nav__item:hover::before,
.side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}
.side-nav__item:active::before {
  background-color: #faedcd;
}
.side-nav__link:link,
.side-nav__link:visited {
  color: white;
  font-weight: 900;
  letter-spacing: 0.25rem;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;

  display: flex;
  align-items: center;
}
.side-nav__item:hover .side-nav__link,
.side-nav__item--active .side-nav__link {
  color: #777;
}
.side-nav__icon {
  width: 2rem;
  height: 2rem;
  justify-content: center;
  margin-right: 2rem;
}
.legal {
  font-size: 1.5rem;
  color: #fefae0;
  text-align: center;
  padding: 2.5rem;
}

/* Gallery */
.page {
  display: none;
}
.gallery {
  display: flex;
}
.gallery__photo {
  width: 100%;
  display: block;
}
/* Coffee Shop Overview */
.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f4f2f2;
}
.overview__heading {
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem 3rem;
}
.overview__stars {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.overview__stars .fa-star {
  width: 1.75rem;
  height: 1.75rem;
  color: #bc6c25;
}
.overview__rating {
  font-size: 2.25rem;
  margin-left: 1rem;
}
.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: #faf9f9;
  border-bottom: 1px solid #f4f2f2;
}
.description {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
}
.paragraph {
  font-size: 1.75rem;
  font-weight: 500;
}
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}
.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid #f4f2f2;

  display: flex;
  flex-wrap: wrap;
}
.list__item {
  flex: 0 0 50%;
  margin-bottom: 0.7rem;
  font-size: 1.5rem;
  font-weight: 500;
}

/* Reviews */
.user-reviews {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.review {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;
}
.review__text {
  margin-bottom: 2rem;
  font-size: 1.75rem;
  z-index: 10;
  position: relative;
}
.review__user {
  display: flex;
  align-items: center;
}
.review__user-box {
  margin-right: auto;
}
.review__user-name {
  font-size: 1.3rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}
.review__user-date {
  font-size: 1.5rem;
}




@media only screen and (max-width: 1100px) {
  html {
    font-size: 50%;
  }
  .container {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .content {
    flex-direction: column;
  }
  .side-nav {
    display: flex;
    margin: 0;
  }
  .side-nav__item {
    flex: 1;
  }
  .side-nav__item:not(:last-child) {
    margin: 0;
  }
  .side-nav__link:link,
  .side-nav__link:visited {
    justify-content: center;
    padding: 2rem;
  }
  .legal {
    display: none;
  }
  .detail {
    padding: 3rem;
  }
  .description {
    padding: 2rem;
    margin-right: 3rem;
  }
  .review {
    padding: 2rem;
    margin-bottom: 3rem;
  }
  footer {
    background-color: #bc6c25;
    color: #f4f2f2;
    font-size: 2rem;
    color: #fefae0;
    text-align: center;
    padding: 2.5rem;
  }
  .socials__link:link,
  .socials__link:visited{
    color: white;
    text-decoration: none;
  }
  .socials__link-icon{
    margin: 0 .5rem;
    font-size: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .side-nav__link:link,
  .side-nav__link:visited {
    flex-direction: column;
    padding: 1.5rem 0.5rem;
  }
  .side-nav__icon {
    margin-right: 0;
    margin-bottom: 0.7rem;
    width: 1.5rem;
    height: 1.5rem;
  }
  .overview__heading {
    font-size: 1.8rem;
    padding: 1.25rem 2rem;
  }
  .detail {
    flex-direction: column;
  }
  .description {
    margin-right: 0;
    margin-bottom: 3rem;
  }
  
}
